name: Deploy static site to Azure Web App - Eventify

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: static-site
        path: .

  deploy-to-azure:
    needs: deploy
    runs-on: ubuntu-latest
    environment:
      name: Production

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: static-site

    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_3A5D1DBCE9A0468981D89F945AAAADAB2 }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_25C8860C854C41F281AA091F0CB1C00D }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_F29CA7EAD4FB403D89A92388ED79318C }}

    - name: Deploy static site
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'Eventify'
        package: .
