name: Deploy static site to Azure Web App - Eventify

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v4
      with:
        name: static-site
        path: .

  deploy-to-azure:
    needs: deploy
    runs-on: ubuntu-latest
    environment:
      name: Production

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v4
      with:
        name: static-site

    - name: Login to Azure
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_0DF629B196F24F81A0D60712F3895683 }}
        tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_9BAB6E52F35B43A3B8FD807D2F4EE248 }}
        subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_6E732E1DE4194220956E44B810E70526 }}

    - name: Deploy static site
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'Eventify'
        package: .

